---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Muhammed Ali Kösen - Developer"
  description="Sigorta, denizcilik ve etkinlik alanlarında yazılım geliştiren full-stack developer."
>
  <Header />
  <main>
    <Hero />
    <About />
    <Contact />
  </main>
</Layout>
